*.java		text
*.bat		text eol=crlf
*.md		text
*.json		text 
*.xml		text
*.gradle	text
*.kt		text
*.kts		text
*.sh		text
Docker/*    text
gradlew     text
*.properties	text
*.xml		    text
*.jar       binary