<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="no/vy/trafficinfo/common/logging/base.xml"/>

    <logger name="io.micronaut.http.server.netty" level="DEBUG"/>
    <logger name="io.micronaut.security" level="DEBUG"/>
    <logger name="io.micronaut.http.client" level="TRACE"/>

    <!--
    <logger name="io.micronaut.security" level="DEBUG"/>
    <logger name="io.micronaut.http.server.netty.NettyHttpServer" level="WARN"/>
    -->

</configuration>
