<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) %green(%X{user} %X{trace}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="no.vy" level="DEBUG" />
    <logger name="io.micronaut" level="INFO" />
    <logger name="io.micronaut.context" level="INFO" />
    <logger name="org.testcontainers" level="INFO" />
    <logger name="io.netty" level="INFO" />
    <logger name="software.amazon.awssdk" level="INFO" />
    <logger name="org.apache.http" level="INFO" />
    <logger name="io.micronaut.jms" level="DEBUG" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>